/* Giữ thiết kế tối giản */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-search-container {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

input {
    padding: 8px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    overflow-y: auto; /* Cho phép cuộn ảnh nếu có quá nhiều */
    height: 60%; /* Giới hạn chiều cao của danh sách hình ảnh */
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

li img {
    width: 100px; /* Giảm kích thước hình ảnh để phù hợp trên màn hình */
    height: auto;
    border-radius: 5px;
}
